.body{
    width: 100%;
    height: 100%;
}

.imgUsu{
    /* margin-right: 6px; */
    border-radius: 100%;
    border-style: solid; 
    padding: 6px; 
    /* background-color: aquamarine;  */
}

.linha{
    height: 2px;
    width: 10em;
    background-color: black;
}

.boxDireita {
    width: 100%;
    height: 100%;
    background-color: aqua;
}

.boxEsquerda {
    width: 300em;
    height: 100%;
}

.inputStyle {
    /* position: absolute; */
    width: 500px;
    height: 50px;
    /* left: 233px;
    top: 656px; */
    background: #EFFBF8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.botaoEnviar {
    /* position: absolute; */
    width: 200px;
    height: 50px;
    /* left: 508px;
    top: 789px; */
    background: #72C8B3;
    color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.botaoCadastrar{
    width: 226.09px;
    height: 40.37px;
    text-align: center;
    color: white;
    background: #72C8B3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    
}

/* font-family: 'Roboto', sans-serif;

font-family: 'Roboto Condensed', sans-serif; */
