.sidenav-container {
  height: 100%;
  background-color: white;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  padding: 0 35px;
}

/* .elipse {
  border: 1px solid #D9D9D9;
  box-sizing: border-box;
  width: 50px;
  height: 90px;
  border: 1px solid;
  border-radius: 50%;
} */

.img-medicine {
  width: 79px;
  height: 84.6px;
  margin-top: 88px;
  margin-left: 50px;
}

.menu-title {
  font-family: 'Roboto Condensed', sans-serif;
  /* margin-left: 23px; */
  color: #F8F8F8;
  font-weight: 500;
}

.sidenav {
  width: 200px;
  background-image: radial-gradient(200% 144% at 60% 100%, #24C594 0%, rgba(73, 138, 130, 0.846836) 60%, rgba(0, 194, 255, 0.380208) 93%);
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
}

span {
  color: #4D4B4B;
  margin-left: 15px;
}

.linha {
  width: 1099px;
  height: 1.1px;
  margin-left: 30px;
  background: #BEBEBE;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}

.list-item {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


