<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
      <div class="elipse">
        <img src='/assets/medicine.svg' class="img-medicine">
      </div>
    <mat-toolbar class="menu-title">Bleu Pharma</mat-toolbar>
    <mat-nav-list>
      <a class="list-item" mat-list-item href="#">Cadastro</a>
      <a class="list-item" mat-list-item href="#">Vendas</a>
      <a class="list-item" mat-list-item href="#">Estoque</a>
      <a class="list-item" mat-list-item href="#">Movimentação</a>
      <a class="list-item" mat-list-item href="#">Pedido</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
      class="mat-icon-button"
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Bem-vindo, Lucas Henrique!</span>
    </mat-toolbar>
    <div class="linha"></div>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
