.boxEsquerda {
    width: 300em;
    height: 100%;
    text-align: center; 
    margin-top: 15em;
  }

  .boxDireita {
    width: 300em;
    height: 59.9em;
    text-align: center;
    /* margin-top: 15em; */
    background-image: radial-gradient(126.51% 143.38% at 62.71% 104.95%, #24C594 0%, rgba(73, 138, 130, 0.846836) 48.24%, rgba(0, 194, 255, 0.380208) 92.32%);
  }

  .celula1:first-child,
.celula1_5:first-child,
.celula2:first-child,
.celula3:first-child,
.celula3_5:first-child,
.celula4:first-child,
.celula5:first-child,
.celula6:first-child,
.celula7:first-child,
.celula8:first-child,
.celula9:first-child,
.celula10:first-child,
.celula11:first-child,
.celula12:first-child {
    padding-left: 0;
}

.celula1 {
  /* float: left; */
  display: inline-block;
  width: 8.33%;
  padding-left: 8px;
}

.celula1_5 {
  /* float: left; */
  display: inline-block;
  width: 12.5%;
  padding-left: 8px;
}

.celula2 {
  /* float: left; */
  display: inline-block;
  width: 16.66%;
  padding-left: 8px;
}

.celula3 {
  /* float: left; */
  display: inline-block;
  width: 25%;
  padding-left: 8px;
}

.celula3_5 {
  /* float: left; */
  display: inline-block;
  width: 29.16%;
  padding-left: 8px;
}

.celula4 {
  /* float: left; */
  display: inline-block;
  width: 33.33%;
  padding-left: 8px;
}

.celula5 {
  /* float: left; */
  display: inline-block;
  width: 41.66%;
  padding-left: 8px;
}

.celula6 {
  /* float: left; */
  display: inline-block;
  width: 50%;
  padding-left: 8px;
}

.celula7 {
  /* float: left; */
  display: inline-block;
  width: 58.33% !important;
  padding-left: 8px;
}

.celula8 {
  /* float: left; */
  display: inline-block;
  width: 66.66%;
  padding-left: 8px;
}

.celula9 {
  /* float: left; */
  display: inline-block;
  width: 75%;
  padding-left: 8px;
}

.celula10 {
  /* float: left; */
  display: inline-block;
  width: 83.33%;
  padding-left: 8px;
}

.celula11 {
  /* float: left; */
  display: inline-block;
  width: 91.66%;
  padding-left: 8px;
}

.celula12 {
  /* float: left; */ 
  display: inline-block;
  width: 99.99%;
  padding-left: 8px;
} 

.mobile {
  overflow: hidden;
}

@media screen and (min-width: 767px) {
  .mobile {
    display: flex;
    flex-direction: column;
  }
}